*~
*.obj
*.ncb
*.aux
*.log
*.bak
*.old
*.dvi
*.dmg
*.backup
*.lo
*.pyc
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.out
*.log
*.exe
*.swp
*.orig

.DS_Store
.AppleDouble
config.status
.deps/*
.externalToolBuilders/*
build/*
dist/debian/build
dist/debian/build/*
osc
osc/*

# doc build

doc/stfbook.ps
doc/html/*
doc/latex/*
doc/doxygen/*
doc/sphinx/.build/*
doc/sphinx/.build/doctrees/*
doc/sphinx/.build/latex/*
doc/sphinx/.static/*

autom4te.cache/*
lt~obsolete.m4
m4/lt~obsolete.m4

stimfit_VS03/stfswig/Debug
stimfit_VS03/stfswig/stf\ debug
stimfit_VS03/stfswig/Release
stimfit_VS03/stfioswig/Debug
stimfit_VS03/stfioswig/stf\ debug
stimfit_VS03/stfioswig/Release
stimfit_VS03/stimfit/Debug
stimfit_VS03/stimfit/stf\ debug
stimfit_VS03/stimfit/Release
stimfit_VS03/stimfit_exe/Debug
stimfit_VS03/stimfit_exe/stf\ debug
stimfit_VS03/stimfit_exe/Release

# macports

PortIndex*
macosx/macports/science/stimfit/work

# build files

*.o
*.a
*.la
*.lai
*.so*
*.Plo
Makefile
libtool
stimfit.plist
# stimfit
stamp-h1
stfswig_wrap.cxx
pystf_wrap.cxx
stf.py
stfioswig_wrap.cxx
pystfio_wrap.cxx
stfio.py

.libs/
.deps/
src/stimfit/py/.libs/

*Makefile.in
aclocal.m4
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
missing
stfconf.h.in

#stf_init.py

# stimfittest
stimfittest
