*~
*.obj
*.ncb
*.aux
*.log
*.bak
*.old
*.dvi
*.dmg
*.backup
*.lo
*.pyc
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.out
*.log
*.exe
*.swp
*.orig

.DS_Store
.AppleDouble
config.status
.deps/*
.externalToolBuilders/*
build/*
dist/debian/build
dist/debian/build/*
osc
osc/*

test.h5

README
INSTALL
stfconf.h

# doc build

doc/stfbook.ps
doc/html/*
doc/latex/*
doc/doxygen/*
doc/DoxygenLayout.xml
doc/sphinx/.build/*
doc/sphinx/.build/doctrees/*
doc/sphinx/.build/latex/*
doc/sphinx/.static/*

autom4te.cache/*
lt~obsolete.m4
m4/lt~obsolete.m4

*.sln.cache
dist/windows/VS2008/libstfio/Debug
dist/windows/VS2008/libstfio/Release
dist/windows/VS2008/libstfnum/Debug
dist/windows/VS2008/libstfnum/Release
dist/windows/VS2008/libstimfit/Debug
dist/windows/VS2008/libstimfit/Release
dist/windows/VS2008/pystf/Debug
dist/windows/VS2008/pystf/Release
dist/windows/VS2008/pystfio/Debug
dist/windows/VS2008/pystfio/Release
dist/windows/VS2008/Stimfit/Debug
dist/windows/VS2008/Stimfit/Release
dist/windows/VS2008/libstfio/x64/Debug
dist/windows/VS2008/libstfio/x64/Release
dist/windows/VS2008/libstfnum/x64/Debug
dist/windows/VS2008/libstfnum/x64/Release
dist/windows/VS2008/libstimfit/x64/Debug
dist/windows/VS2008/libstimfit/x64/Release
dist/windows/VS2008/pystf/x64/Debug
dist/windows/VS2008/pystf/x64/Release
dist/windows/VS2008/pystfio/x64/Debug
dist/windows/VS2008/pystfio/x64/Release
dist/windows/VS2008/Stimfit/x64/Debug
dist/windows/VS2008/Stimfit/x64/Release
dist/windows/libs
*.user

# macports

PortIndex*
dist/macosx/macports/science/stimfit/work
dist/macosx/macports/science/stimfit/work/*
dist/macosx/macports/python/py-stfio/work
dist/macosx/macports/python/py-stfio/work/*
dist/macosx/macports/*.diff
dist/macosx/macports/upload_stimfit
dist/macosx/macports/insert_checksums.sh
dist/macosx/package.pmdoc/index.xml
dist/macosx/scripts/mkimage.sh

# Debian

dist/debian/mkdeb.sh
dist/debian/mkquick.sh


# build files

*.o
*.a
*.la
*.lai
*.so*
*.Plo
Makefile
libtool
stimfit.plist
# stimfit
stamp-h1
stfswig_wrap.c*
pystf_wrap.c*
stf.py
stfioswig_wrap.c*
pystfio_wrap.c*
stfio.py
setup.py
dist/conda/py-stfio-debug/meta.yaml
dist/conda/py-stfio/meta.yaml

.libs/
.deps/
src/stimfit/py/.libs/

*Makefile.in
aclocal.m4
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
test-driver
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
missing
stfconf.h.in
compile

#stf_init.py

# stimfittest
stimfittest

Portfile
